name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Tests
        run: gradlew.bat build
        shell: cmd
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-report-windows
          path: build/reports/tests/test
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Tests
        run: ./gradlew build
        shell: bash
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-report-linux
          path: build/reports/tests/test
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Tests
        run: ./gradlew build
        shell: bash
      - uses: actions/upload-artifact@v1
        if: always()
        with:
          name: test-report-macos
          path: build/reports/tests/test
